.App {
  text-align: center;
}

.listItem {
  border: solid 1px blue;
  display: flex;
  justify-content: space-evenly;
}

.actionButtons {
  display: flex;
  justify-content: space-evenly;
  color: #bad
}

.actionButtons h3 {
  cursor: pointer;
}